/**
 * Your Inspiration Themes
 * 
 * In this files the framework register default metaboxes.
 * 
 * @package WordPress
 * @subpackage Your Inspiration Themes
 * @author Your Inspiration Themes Team <info@yourinspirationthemes.com>
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE (GPL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-3.0.txt
 */

/********************************************

In this file you can add your custom CSS.
It will always override rules in style.css.
Good work... and good luck! :)


http://www.cssfontstack.com/Web-Fonts
********************************************/

/* latin FOR all Body*/
@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    src: local('Questrial'), local('Questrial-Regular'), url(../fonts/Questrial-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin FOR Menu*/
@font-face {
    font-family: 'Cabin Sketch';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(../fonts/CabinSketch-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin FOR h1*/
@font-face {
    font-family: 'Slackey';
    font-style: normal;
    font-weight: 400;
    src: local('Slackey'), url(../fonts/Slackey.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
    font-family: 'Questrial';
    font-weight: normal;
}
#header div.menu > ul > li > a {
    color: #727272;
    font-family: "Cabin Sketch";
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
#border-header { background: #0563ac; border-color: #eeeeee; }
#copyright { background: #0563ac; }
#topbar { background-color: #5AA445; }
.sf-menu .current-menu-ancestor a span.triangle, .sf-menu .current-menu-item a span.triangle, .sf-menu li:hover a span.triangle, .sf-menu .current_page_item a span.triangle, .sf-menu .current_page_ancestor a span.triangle { border-bottom-color: #0563ac; }
.sf-menu .current-menu-ancestor a span.triangle, .sf-menu .current-menu-item a span.triangle, .sf-menu li:hover a span.triangle, .sf-menu .current_page_item a span.triangle, .sf-menu .current_page_ancestor a span.triangle { border-bottom-color: #0563ac; }
#header div.menu > ul > li > a:hover { color: /*#5AA445*/ #0563ac; }
#header div.menu > ul > li.current-menu-item > a, #header div.menu > ul > li.current-menu-ancestor > a, #header div.menu > ul > li.current_page_parent > a, #header div.menu > ul > li.current_page_ancestor > a, #header div.menu > ul > li.current_page_item > a { color: /*#5AA445*/#0563ac; }
#header div.menu > ul ul li a:hover { color: #5AA445; }
#header div.menu > ul ul li.current-menu-item > a, #header div.menu > ul ul .current-menu-ancestor > a { color: #5AA445; }


#topbar #last-tweets-3 li i.fa-bank.banque-icon{
    font-size: 16px;
}

#topbar a , #topbar a:hover {
    color: #fff;
    font-family: "Questrial";
    font-size: 14px;
    font-weight: normal;
}

h1 {
    font-family: "Slackey";
    font-size: 25px;
    margin-top: 0;
    overflow: hidden;
    padding-top: 0;
    position: relative;
}

h1::after {
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    content: "";
    height: 7px;
    position: absolute;
    top: 0.4em;
    width: 100%;
}